:root { 
--black_900_7f:#0000007f; 
--white_A700_b2:#ffffffb2; 
--black_900_b2:#000000b2; 
--black_900_3f:#0000003f; 
--white_A700_33:#ffffff33; 
--black_900_89:#00000089; 
--black_900:#000000; 
--deep_purple_A200:#9747ff; 
--black_900_2a:#0000002a; 
--gray_600:#828282; 
--gray_501:#9d9d9d; 
--black_900_0a:#0000000a; 
--gray_400:#c2c2c2; 
--gray_500:#989690; 
--gray_500_4c:#9d9d9d4c; 
--bluegray_100:#d9d9d9; 
--gray_300:#e0e0e0; 
--indigo_300:#8988b6; 
--bluegray_900:#2f2f2f; 
--black_900_33:#00000033; 
--gray_500_33:#90909033; 
--bluegray_101:#d5d7dc; 
--white_A700_05:#ffffff05; 
--white_A700:#ffffff; 
--light_blue_100_60:#abeffd60; 
--deep_purple_A200_33:#9747ff33; 
}